<div class="card">
    <h3 class="card-header">Add Post</h3>
    <form class="card-body post" id="post">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-input" />
        <label class="form-label" for="postContent">Add post</label>
        <input id="postContent" name="postContent" class="form-input" />
        <button type="submit" class="submitButton">Submit</button>
    </form>
</div>

<script src="/public/js/addPost.js"></script>